
/************************************************************************************/

body {
    /* Standardschrift, -größe und -farbe */
    font-family: Serif, Arial, Helvetica, Verdana;
    font-size: 1.2rem;
    color: #000000;
    /* wir haben drei Subelemente: header + main + footer, die sind jetzt unabhängig vom Inhalt angehängt */
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

* {
    /* für alle Elemente Abstände sind abgeschafft */
    padding: 0;
    margin: 0;
}

/************************************************************************************/

.site-header { /* header */
    background-color: #404040; /* Hintergrund für das gesamte Subelement */
    color: #ffffff; /* Textfarbe */
    /* Header-Sticky und Schatten */
    box-shadow: 0 0 10px 1px #404040;
    position: -webkit-sticky; /* für Safari */
    position: sticky; /* für andere Browsers */
    top: 0; /* wird oben angehängt */
    /* wir haben zwei Subelemente: ...logo + ...nav */
    display: grid;
    grid-template-columns: auto 350px 1fr auto;
    grid-template-rows: 100px;
    grid-template-areas: ". site-header-logo site-header-nav .";
}

.site-header-logo {
    grid-area: site-header-logo; /* benannter Platz */
    /* Zentrieren des Inhalts */
    justify-self: center;
    align-self: center;
    /* Verschiedene Charakteristika von Text */
    font-family: "Bookman Old Style";
}

.site-header-nav {
    grid-area: site-header-nav; /* benannter Platz */
    /* Zentrieren des Inhalts */
    justify-self: center;
    align-self: center;
}

.site-header-nav-buttons {
    /* wir haben n-Subelemente für gebautes mit dem ul-Tag Menü */
    display: grid;
    grid-template-columns: repeat(5, 125px);
    grid-template-rows: 100px;
    /* Zentrieren des Inhalts */
    justify-items: center;
    align-items: center;
}

.site-header-nav-buttons li {
    list-style-type: none; /* Typ der Liste */
    text-align: center;
}

.site-header-nav-buttons li > a, li > a:link, li > a:visited {
    color: #ffffff; /* Textfarbe */
    text-decoration: none; /* Keine Styles für den Text */
    /* Block -> Flex */
    height: 100px; /* Höhe */
    width: 125px; /* Breite */
    display: flex; /* Bloctyp */
    flex-direction: column; /* Richtung im Block */
    justify-content: center; /* Ausrichtung vertikal */
    flex-wrap: wrap; /* Zeilenumbrüche */
}

.site-header-nav-buttons li > a:hover, li > a:focus, li > a:active {
    background-color: #505050; /* Hintergrundfarbe */
}

/************************************************************************************/

.site-content { /* main */
    background-color: #efefef; /* Hintergrund für das gesamte Subelement */
    /* wir haben drei Subelemente: ...address + ...title + ...text, zwei erste haben automatische Höhe und der dritte hat den Rest */
    display: grid;
    grid-template-columns: auto minmax(800px, 1000px) auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: ". site-content-address ." ". site-content-title ." ". site-content-text .";
}

.site-content-address {
    grid-area: site-content-address; /* benannter Platz */
    background-color: #939393; /* Hintergrund für das gesamte Subelement */
    margin-top: 25px; /* der äußere Abstand oben */
    /* innere Abstände */
    padding: 10px 25px 10px 25px;
    /* Verschiedene Charakteristika von Text */
    font-size: 1rem;
    color: #ffffff;
}

.site-content-title {
    grid-area: site-content-title; /* benannter Platz */
    background-color: #e6e6e6; /* Hintergrund für das gesamte Subelement */
    /* innere Abstände */
    padding: 25px;
}

.site-content-text {
    grid-area: site-content-text; /* benannter Platz */
    background-color: #ffffff; /* Hintergrund für das gesamte Subelement */
    margin-bottom: 25px; /* der äußere Abstand unten */
    /* innere Abstände */
    padding: 25px;
}

.site-content-text > p {
    text-align: justify; /* Textausrichtung */
    padding-bottom: 10px; /* Abstand unten */
}

.site-content-text p > a, p > a:link, p > a:visited {
    border: 1px solid #ffffff; /* Border */
    padding: 3px 10px; /* Abstand */
    background-color: #c3c3c3; /* Hintergrundfarbe */
    color: #ffffff; /* Textfarbe */
    text-decoration: none; /* Keine Styles für den Text */
}

.site-content-text p > a:hover, p > a:focus, p > a:active {
    border: 1px solid #ffffff; /* Border */
    padding: 3px 10px; /* Abstand */
    background-color: #a8a8a8; /* Hintergrundfarbe */
    color: #ffffff; /* Textfarbe */
    text-decoration: none; /* Keine Styles für den Text */
}

.site-content-text p > a:after {
    content: " \29C9";
}

.site-content-text > table {
    width: 100%; /* Breite einer Tabelle */
    border-collapse: collapse; /* Abstand zwischen Zeilen */
}

.site-content-text tr > th {
    padding: 10px; /* Abstand */
    background-color: #a1a1a1; /* Hintergrund */
    color: #ffffff; /* Textfarbe */
}

.site-content-text tr > td {
    border-bottom: 1px solid #ddd; /* Border */
    padding: 10px; /* Abstand */
}

.site-content-text tr:hover {
    background-color: #c9c9c9; /* Hintergrundfarbe */
    color: #ffffff; /* Textfarbe */
}

/************************************************************************************/

.site-footer { /* footer */
    background-color: #808080; /* Hintergrund für das gesamte Subelement */
    /* wir haben zwei Subelemente: ...description + ...copyright */
    display: grid;
    grid-template-columns: auto minmax(800px, 1000px) auto;
    grid-template-rows: auto auto;
    grid-template-areas: ". site-footer-description ." ". site-footer-copyright .";
    /* innere Abstände */
    padding: 25px;
    /* Verschiedene Charakteristika von Text */
    font-size: 1rem;
    color: #bbbbbb;
}

.site-footer-description {
    grid-area: site-footer-description; /* benannter Platz */
    /* Verschiedene Charakteristika von Text */
    text-align: justify;
}

.site-footer-copyright {
    grid-area: site-footer-copyright; /* benannter Platz */
    /* Verschiedene Charakteristika von Text */
    text-align: center;
}

/************************************************************************************/
